*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url("https://images.hdqwalls.com/download/blue-ocean-waves-5k-jc-1920x1080.jpg");
    height: auto;
    max-width: 100%;
}
h1{
    margin: 40px;
    padding: 20px;
    color: rgb(230, 238, 248);
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    margin: 40px;
    padding: 20px;
    color: rgb(230, 238, 248);
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    padding: 40px;
    color:rgb(26, 110, 212);
    font-size: 40px;
}
p{
    color: rgb(51, 51, 51);
    font-size: 20px;
    text-align: justify;
}

#def{
    background-color: rgb(158, 187, 214);
    margin: 25px;
}
.grid{ 
    width: 90%;
    max-width: 95%;
    margin: 1.6em auto;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2,1fr);
}

.text{
grid-area: auto;
}
.img{
grid-area: auto;
}
